<tllcvideo>
  <figure class="translationllc__video__container" style="height: {{videoContainerHeight}}" id="video-container-{{videoId}}">
    <video class="translationllc__video__container__video" id="{{videoId}}" src="assets/{{url}}">
    </video>
    <div class="translationllc__video__container__svg-overlay" style="background-image: url(assets/{{videoSvgOverlay}})">
    </div>
  </figure>
  <div class="translation__video__content-container">
    <button class="translationllc__video__play-button" id="video-button-{{videoId}}" type="button" name="button">
    </button>
    <h3>{{header}}</h3>
    <p>{{content}}</p>
  </div>
</tllcvideo>
<hr>
