{{> header}}
<main id="translationllcIntro" class="translationllc__intro" style="opacity: 1">
  <div id="carouselDesktopWrapper" class="translationllc__intro__carousel--desktop__wrapper">
    <div class="translationllc__intro__carousel--desktop" id="translationllcAnimationDesktop">
    </div>
  </div>
  <div id="translationllcWeAreTranslationDesktop" class="translationllc__intro__background__we-are-translation--desktop">
    <svg version="1.1" id="animationPlusIcon2" style="opacity: 0" class="translationllc__intro__background__plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 342.2 439.2" style="enable-background:new 0 0 342.2 439.2;" xml:space="preserve">
    <style type="text/css">
    	.st2 {
    	   fill:#171717;
      }
    </style>
    <title>WeAreTranslation</title>
    <polygon id="animationPlusIconSvg2" class="st2" points="282.6,201.4 186.6,201.4 186.6,103 154.3,103 154.3,201.4 58.3,201.4 58.3,233.8 154.3,233.8
    	154.3,334.9 186.6,334.9 186.6,233.8 282.6,233.8 "/>
    </svg>
    <svg version="1.1" id="animationPlusIcon1" style="opacity: 0" class="translationllc__intro__background__plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 342.2 439.2" style="enable-background:new 0 0 342.2 439.2;" xml:space="preserve">
    <style type="text/css">
    	.st1 {
    	   fill:white;
      }
    </style>
    <title>WeAreTranslation</title>
    <polygon id="animationPlusIconSvg1" class="st1" points="282.6,201.4 186.6,201.4 186.6,103 154.3,103 154.3,201.4 58.3,201.4 58.3,233.8 154.3,233.8
    	154.3,334.9 186.6,334.9 186.6,233.8 282.6,233.8 "/>
    </svg>
    <svg version="1.1" id="animationPlusIcon" class="translationllc__intro__background__plus" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 342.2 439.2" style="enable-background:new 0 0 342.2 439.2;" xml:space="preserve">
    <style type="text/css">
    	.st0 {
    	   fill:#171717;
      }
    </style>
    <title>WeAreTranslation</title>
    <polygon id="animationPlusIconSvg" class="st0" points="282.6,201.4 186.6,201.4 186.6,103 154.3,103 154.3,201.4 58.3,201.4 58.3,233.8 154.3,233.8
    	154.3,334.9 186.6,334.9 186.6,233.8 282.6,233.8 "/>
    </svg>
  </div>
</main>
<main id="translationllcMain" class="translationllc__main" style="opacity: 0">
  <section id="intro" class="translationllc__main__intro">
    <div id="backgroundParallaxOne" class="backgroundParallaxOne preserveAspectRatio">
      <div id="translationllcWeAreCulturalCatalysts" class="translationllc__main__intro__we-are preserveAspectRatio">
        <div id="translationllcCulturalCatalysts" class="translationllc__main__intro__we-are-translation preserveAspectRatio landscapePreserveAspectRatio">
        </div>
      </div>
    </div>
    <figure class="translationllc__video__container--intro preserveAspectRatio">
      <tllcvideoSvgOverlay>
        <div class="translationllc__video__container__overlay--intro">
          <div class="translationllc__video__container__overlay__first-block">
            <h1>WE</h1>
            <h1>ARE</h1>
          </div>
          <div class="translationllc__video__container__overlay__second-block">
            <h1>CULTURAL</h1>
            <h1>CATALYSTS</h1>
          </div>
        </div>
      </tllcvideoSvgOverlay>
    </figure>
    <div class="translationllc__section-icon">
     <p class="translationllc__section-icon__copy--container translationllc__section-icon__copy--container--intro">
      {{introStatement}}
     </p>
    </div>
  </section>
  <section id="work" class="translationllc__main__work">
    <div class=" translationllc__section-icon translationllc__section-icon--work">
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="sizzleVideo">
      <figure class="translationllc__video__container--work-video translationllc__video__container--feature-video preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          src="{{sizzleVideoUrl}}"
          id="sizzleVideo">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="sizzleVideo" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{sizzleVideoHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{sizzleVideoContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoOne">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--one preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoOne"
          src="{{workVideoOneUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoOne" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoOneHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoOneContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoTwo">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--two preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoTwo"
          src="{{workVideoTwoUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoTwo" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoTwoHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoTwoContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoThree">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--three preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoThree"
          src="{{workVideoThreeUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoThree" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoThreeHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoThreeContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoFour">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--four preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoFour"
          src="{{workVideoFourUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoFour" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoFourHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoFourContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoFive">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--five preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoFive"
          src="{{workVideoFiveUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoFive" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoFiveHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoFiveContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoSix">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--six preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoSix"
          src="{{workVideoSixUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoSix" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoSixHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoSixContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoSeven">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--seven preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoSeven" src="{{workVideoSevenUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoSeven" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoSevenHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoSevenContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoEight">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--eight preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoEight"
          src="{{workVideoEightUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoEight" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoEightHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoEightContent}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoNine">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--nine preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="workVideoNine"
          src="{{workVideoNineUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoNine" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{workVideoNineHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{workVideoNineContent}}
      </p>
    </div>
  </section>

  <section id="news">
    <div class="translationllc__section-icon translationllc__section-icon--news">
    </div>
    <div class="translationllc__main__articles">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">{{articleOnePublication}}</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="{{articleOneLink}}" target="_blank">{{articleOneHeader}}</a>
          <p class="translationllc__main__articles__article-author">{{articleOneByline}}</p>
        </div>
      </div>
      <hr class="translationllc__news-hr">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">{{articleTwoPublication}}</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="{{articleTwoLink}}" target="_blank">{{articleTwoHeader}}</a>
          <p class="translationllc__main__articles__article-author">{{articleTwoByline}}</p>
        </div>
      </div>
      <hr class="translationllc__news-hr">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">{{articleThreePublication}}</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="{{articleThreeLink}}" target="_blank">{{articleThreeHeader}}</a>
          <p class="translationllc__main__articles__article-author">{{articleThreeByline}}</p>
        </div>
      </div>
      <hr class="translationllc__news-hr">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">{{articleFourPublication}}</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a  class="translationllc__main__articles__article-link" href="{{articleFourLink}}" target="_blank">{{articleFourHeader}}</a>
          <p class="translationllc__main__articles__article-author">{{articleFourByline}}</p>
        </div>
      </div>
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">{{articleSixPublication}}</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a  class="translationllc__main__articles__article-link" href="{{articleSixLink}}" target="_blank">{{articleSixHeader}}</a>
          <p class="translationllc__main__articles__article-author">{{articleSixByline}}</p>
        </div>
      </div>
    </div>
  </section>
  <section id="culture">
    <div class="translationllc__section-icon--contains-copy translationllc__section-icon">
      <div class="translationllc__section-icon--culture">
      </div>
      <p class="translationllc__section-icon__copy--container">
        {{cultureSectionCopy}}
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="cultureVideo">
      <figure class="translationllc__video__container--work-video translationllc__video__container--biggiebreakfast preserveAspectRatio">
        <video
          preload="none"
          type="video/mp4"
          class="translationllc__video__container__video--work-video videoPreserveAspectRatio"
          id="cultureVideo"
          src="{{cultureSectionVideoUrl}}">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="cultureVideo" type="button" name="button">
      </button>`
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">{{cultureSectionVideoHeader}}</h3>
      <p class="translation__main__video-text-content__content">
        {{cultureSectionVideoContent}}
      </p>
    </div>
    <div class="translationllc__section-icon--contains-copy translationllc__section-icon">
      <div class="translationllc__section-icon--majors-minors">
      </div>
      <p class="translationllc__section-icon__copy--container">
        {{majorsMinorsContent}}
      </p>
    </div>
    <div id="minorsCarousel" class="preserveAspectRatio translationllc__main__culture__emcee">
      <div class="translationllc__main__culture__emcee__opacity-layer">
      </div>
    </div>
  </section>
  
  <section class="translationllc__main__united-masters" id="unitedMasters">
    <img class="translationllc__main__united-masters__gif" src="../assets/unitedMasters.gif" alt="united masters mtv gif">
    <div class="translationllc__main__united-masters__next-chapter">
      <h2 class="translationllc__main__united-masters__next-chapter__header">Introducing: UnitedMasters</h2>
      <p class="translationllc__main__united-masters__next-chapter__content">
From the beginning, Translation was a different kind of team: 
a diverse mix of music industry veterans, strategic experts, 
multidisciplinary creatives, and innovative business leaders.

      </p>
      <p class="translationllc__main__united-masters__next-chapter__content">
Knowing that cultural relevance demands constant re-invention, 
we have gone through countless transformations as we have seen 
our company grow from a few people gathered in a single conference 
room to a vibrant team of 200 across two coasts.
      </p>
      <p class="translationllc__main__united-masters__next-chapter__content">
And now, with the support of our investors Alphabet Inc., Andreessen Horowitz, 21st Century Fox and Floodgate, we are embarking upon our greatest transformation to date.</p>
      <p class="translationllc__main__united-masters__next-chapter__content">
We are thrilled to introduce UnitedMasters: 
Translation's new partner company.

      </p>
      <p class="translationllc__main__united-masters__next-chapter__content">
UnitedMasters redefines what it means to be an artist services company. By uniting culture, technology and storytelling UnitedMasters aims to empower all artists to own their future.
We believe the combination of Translation and UnitedMasters will re-invent how cultural influence can create value for brands and artists.

      </p>
      <p class="translationllc__main__united-masters__next-chapter__content">
This is the biggest chapter yet of the story we began in 2004, 
and we couldn't be more excited about what the future will hold.

      </p>
      <p><a href="http://www.unitedmasters.com/">TAKE ME TO UNITEDMASTERS</a></p>

    </div>
    <div class="translationllc__main__united-masters__logo">
    </div>
    <hr>

  </section>
  
  <section class="translationllc__contact-us" id="contactUs">
    <h2 class="translationllc__contact-us__header">CONTACT TRANSLATION</h2>
    <div class="translationllc__contact-us__two-column-container">
      <div class="translationllc__contact-us__two-column-container__column">
        <div class="translationllc__contact-us__container">
          <h4>TRANSLATION NYC</h4>
          <p>145 West 45th Street</p>
          <p>12th Floor</p>
          <p>New York, NY 10036</p>
        </div>

        <div class="translationllc__contact-us__container">
          <h4>TRANSLATION SF</h4>
          <p>2360 3rd Street</p>
          <p>San Francisco, CA 94107</p>
        </div>

        <div class="translationllc__contact-us__container_tel">
          <a href="tel:1-212-299-5505">212.299.5505</a>
        </div>
      </div>

      <div class="">
        <div class="translationllc__contact-us__container translationllc__contact-us__container--new-business">
          <p>New Business:</p>
          <a href="mailto:newbusiness@translationllc.com">newbusiness@translationllc.com</a>
        </div>
        <div class="translationllc__contact-us__container translationllc__contact-us__container--new-business">
          <p>Careers:</p>
          <a href="mailto:referrals@translationllc.com">referrals@translationllc.com</a>
        </div>
        <ul class="translationllc__contact-us__social-media">
          <a href="https://www.instagram.com/wearetranslation/" target="_blank"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--instagram"></li></a>
          <a href="https://twitter.com/pulseofculture?lang=en" target="_blank"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--twitter"></li></a>
          <a href="https://www.facebook.com/translation/" target="_blank"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--facebook"></li></a>
          <a href="https://www.linkedin.com/company-beta/1716475/" target="_blank"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--linkedin"></li></a>
        </ul>
      </div>
    </div>
    <p class="translationllc__contact-us__copyright">Ⓒ2017 Translation. All Rights Reserved.</p>
    <p class="privacy_policy"><a href="privacy_policy.html" target="_blank">Privacy Policy</a></p>
  </section>
  <button style="display: none" id="requestFullscreenButton" type="button" name="button"></button>
</main>
{{> homepageScripts}}
